<!-- your html code here -->
<div class="container-fluid pt-5 px-5">
    <div class="container-fluid">
        <h1> Contact </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nobis facilis provident aliquid
            quibusdam odit ducimus repellendus itaque soluta numquam quaerat, doloremque minus aperiam ullam
            alias fugiat perspiciatis cumque ipsum?</p>
    </div>

    <div class="container-fluid bg-light w-75">
        <div class="row py-3 pe-2">
            <label for="inputEmail" class="col-sm-2 col-form-label fw-bold text-end pe-4">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="Your email">
            </div>
        </div>
        <div class="row pb-3 pe-2">
            <label for="textArea" class="col-sm-2 col-form-label fw-bold text-end pe-4">Password</label>
            <div class="col-sm-10">
                <textarea class="form-control" placeholder="Please enter your email..." id="textArea" style="height: 100px"></textarea>
            </div>
        </div>
        <div class="pb-3 pe-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>