<!-- your html code here -->
<div class="container-fluid">
    <div class="row px-4 py-5">
        <div class="col-8">
            <div class="container-fluid">
                <h1>This First Heading <span class="text-muted">Will Catch Your Eye</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nobis facilis provident aliquid
                    quibusdam odit ducimus repellendus itaque soluta numquam quaerat, doloremque minus aperiam ullam
                    alias fugiat perspiciatis cumque ipsum?</p>
            </div>
        </div>
        <div class="col-4">
            <div class="container-fluid">
                <img src="https://picsum.photos/400/400" class="rounded-circle img-fluid mx-auto d-block" alt="">
            </div>
        </div>
    </div>
</div>